workflowV1.json
{
  "name": "Telegram to Apify to Gemini",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-shorts-scraper/run-sync-get-dataset-items?token=YOUR_APIFY_TOKEN",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "Content-Type": "application/json"
        },
        "bodyParametersJson": "={\"channels\": [ $json[\"text\"].split(\" \")[1] ], \"maxItems\": 10}"
      },
      "id": "2",
      "name": "Apify Fetch Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HTTP_HEADER_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "text": "=SYSTEM ROLE\nYou are an expert short-form video analyst...",
        "videoUrls": "={{ $json.videoUrl || $json.mediaUrls[0] }}",
        "options": {}
      },
      "id": "3",
      "name": "Analyze Video (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [600, 0],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_PALM_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Apify Fetch Videos","type": "main","index": 0}]]
    },
    "Apify Fetch Videos": {
      "main": [[{"node": "Analyze Video (Gemini)","type": "main","index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "id": "workflow-telegram-apify-gemini",
  "meta": {}
}
